<div class="flex gap-2 pt-2">
  <div class="w-1/2">
  </div>

  <div class="relative w-1/2">

    <form [formGroup]="form">
      <app-input-with-progress class="text-[22px] font-medium"
                               formControlName="bodyWeight"
                               label="Вес"
                               suffix="кг"
                               errorText="ХХ.Х или ХХ"
                               [validators]="weightValidators"
                               (submit)="submitWeight($event)" />
    </form>

  </div>
</div>
