<!-- (submit)="onSubmit()"> -->
<form [formGroup]="form">
  <div class="flex gap-2">
    <div class="w-1/2"></div>

    <div class="relative w-1/2">
      <mat-form-field appearance="outline"
                      class="header-weight-input-text"
                      [class.countdown-state]="uiState() === 'countdown'"
                      [class.submitting-state]="uiState() === 'submitting'"
                      [class.success-state]="uiState() === 'success'"
                      [class.error-state]="uiState() === 'error'">
        <mat-label>Вес</mat-label>

        <input matInput
               class="text-right"
               formControlName="bodyWeight"
               (input)="onInput()"
               (keydown.enter)="onEnter()" />

        <!-- @if (form.controls.bodyWeight.value) { -->
        <span matTextSuffix
              class="ml-2 font-medium">кг</span>
        <!-- } -->

        @if (form.controls.bodyWeight.invalid) {
          <mat-error>ХХ.Х или ХХ</mat-error>
        }
      </mat-form-field>
    </div>
  </div>
</form>
