<div class="flex flex-col gap-4 m-4 text-lg">

  <div>
    <div class="font-bold">Выбор разделов:</div>
    <div class="ml-5">
      <mat-chip-listbox class="mat-mdc-chip-set-stacked w-64">
        <mat-chip-option (click)="toggleChapterSelection('selectedChapterFood')"
                         [selected]="selectedChapterFood">
          <span class="text-lg"> Дневник питания </span>
        </mat-chip-option>
      </mat-chip-listbox>

      <mat-chip-listbox class="mat-mdc-chip-set-stacked w-64">
        <mat-chip-option (click)="toggleChapterSelection('selectedChapterMoney')"
                         [selected]="selectedChapterMoney">
          <span class="text-lg"> Дневник финансов </span>
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>

  <div class="flex gap-4">
    <div class="font-bold leading-[30px]">Тёмная тема:</div>
    <div>
      <mat-slide-toggle [(ngModel)]="darkTheme"
                        color="primary"
                        (click)="toggleDarkMode()"></mat-slide-toggle>
    </div>
  </div>

</div>
