<div class="lg:block hidden mb-4">
  <mat-card>
    <div class="w-full my-2 text-xl font-semibold text-center">Дневник</div>
  </mat-card>
</div>

<div class="flex flex-col gap-2 p-1 overflow-y-auto">
  <div class="">
    <mat-accordion>
      <div class="flex gap-2">
        <div class="w-full mb-2">
          <app-diary-nav-buttons></app-diary-nav-buttons>
        </div>
      </div>

      <mat-expansion-panel color="primary"
                           class="sub-expansion-panel-38px-50px expansion-panel-rounded">
        <mat-expansion-panel-header class="expansion-panel-arrow-indiactor-remove mat-expansion-panel-header-margins-decrease"
                                    [ngStyle]="setBackgroundStyle(todaysKcalsPercent)">
          <div class="whitespace-nowrap overflow-hidden text-center">
            Съедено {{ todaysKcalsEaten }} ккал. от нормы
            {{ todaysTargetKcals }}
            ({{ formatSelectedDaysEatenPercent }}%)
          </div>
        </mat-expansion-panel-header>

        <!-- *ngIf="foodService.diaryFormatted$$()?.[selectedDateISO]" -->
        <app-body-weight />

        <!--
          <app-bmi [selectedDateISO]="selectedDateISO" />
        -->
      </mat-expansion-panel>

      <div class="mb-1"></div>

      <div #foodCont
           class="tw-bg-color whitespace-nowrap flex w-full gap-1 overflow-hidden text-base font-normal">
        <div #foodName
             class="tw-card-food-entry grow whitespace-nowrap overflow-hidden text-center">
          Блюдо:
        </div>

        <div #foodWeight
             class="text-center">
          г.
        </div>

        <div #foodKcals
             class="text-center">
          kcal
        </div>

        <div #foodPercent
             class="text-center">
          %
        </div>
      </div>

      @for (food of todaysFood; track food.id; let first = $first; let last = $last) {
        <mat-expansion-panel #diaryEntry
                             class="sub-expansion-panel-38px-50px"
                             [class.first-in-group]="first"
                             [class.last-in-group]="last"
                             (opened)="diaryEntryExpanded(diaryEntry, food.id)">
          <mat-expansion-panel-header class="expansion-panel-arrow-indiactor-remove mat-expansion-panel-header-margins-decrease"
                                      [ngStyle]="setBackgroundStyle(food.foodKcalPercentageOfDaysNorm)">
            <mat-panel-title class="mat-panel-title-margin-remove">
              <div #foodCont
                   class="whitespace-nowrap flex w-full gap-1 overflow-hidden text-base font-normal">
                <div #foodName
                     class="tw-card-food-entry grow whitespace-nowrap overflow-hidden">
                  {{ food.foodName }}
                </div>

                <div #foodWeight
                     class="text-right">
                  {{ food.foodWeight }}<span class="text-xs"> Г.</span>
                </div>

                <div #foodKcals
                     class="text-right">
                  {{ food.foodKcals }}
                </div>

                <div #foodPercent
                     class="text-right">
                  {{ food.foodPercent }}<span class="text-xs">%</span>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-diary-entry-edit-form [diaryEntry]="food"
                                     (onServerSuccessfullEditResponse)="accordionCollapse()"></app-diary-entry-edit-form>
        </mat-expansion-panel>
      }

      <div class="mb-2"></div>

      <mat-expansion-panel #newEntryPanel="matExpansionPanel"
                           color="primary"
                           class="sub-expansion-panel-38px-50px expansion-panel-rounded">
        <mat-expansion-panel-header
                                    class="expansion-panel-arrow-indiactor-remove mat-expansion-panel-header-margins-decrease add-panel-header">
          <!-- TODO: Think of a way to put text here upon panel expanding -->
          <div class="add-icon-container w-fit">
            <!-- <div class="mb-4 text-xl font-medium text-center">Добавление записи</div> -->
            <mat-icon class="add-icon relative top-[2px] scale-150">add</mat-icon>
          </div>
        </mat-expansion-panel-header>

        <app-diary-entry-new-form [expanded]="newEntryPanel.expanded"
                                  (onServerSuccessfullResponse)="accordionCollapse()" />
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="h-[50vh]"></div>

  <!-- @for (item of [].constructor(99); track $index) {
    <div>Food entry {{ $index + 1 }}</div>
  } -->
</div>

<!--
<div class="h-[40vh]"></div>
-->

<!-- Floating window for a 'new diary entry' form -->

<!--
<div
  class="bottom-6 left-6 fixed"
  style="z-index: 10"
>
  <button
    mat-mini-fab
    class="scale-125"
    color="primary"
    (click)="showFloatingWindow = true"
  >
    <mat-icon class="scale-150">add</mat-icon>
  </button>
</div>
-->

<!--
<div
  *ngIf="showFloatingWindow"
  class="fixed top-0 left-0 flex flex-col h-full px-8 pt-2 bg-gray-700 bg-opacity-50"
  style="z-index: 90"
  (click)="showFloatingWindow = false"
>
  <div (click)="$event.stopPropagation()">
    <mat-card
      class="w-full h-full p-4"
      [@flyInOut]
    >
      <div class="mb-4 text-xl font-medium text-center">Добавление записи</div>

      <app-new-diary-entry-form
        [selectedDateISO]="selectedDateISO"
        (closeEvent)="onCloseEvent()"
      />
    </mat-card>
  </div>
</div>
-->
