<div class="m-auto my-6 max-w-[300px]">
  @if (!auth.checkIfAuthenticated) {
    <form class="flex flex-col gap-2" [formGroup]="authForm" (ngSubmit)="submit()">
      @if (!isLoginMode && justRegistered) {
        <div class="w-full font-bold text-green-800">
          Регистрация прошла успешно! Теперь вы можете войти со своими логином и паролем:
        </div>
      }

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Логин</mat-label>

        <input matInput id="username" type="text" formControlName="username" />

        @if (authForm.get("username")?.touched && authForm.get("username")?.invalid) {
          <mat-error>
            @if (authForm.get("username")?.errors?.["required"]) {
              <small>Поле не должно быть пустым</small>
            }
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Пароль</mat-label>

        <input matInput id="password" type="password" formControlName="password" />

        @if (authForm.get("password")?.touched && authForm.get("password")?.invalid) {
          <mat-error>
            @if (authForm.get("password")?.errors?.["required"]) {
              <small>Введите пароль</small>
            }
            @if (authForm.get("password")?.errors?.["minlength"]) {
              <small>
                Пароль должен быть не менее
                {{ authForm.get("password")?.errors?.["minlength"]?.requiredLength }} символов.
              </small>
            }
          </mat-error>
        }
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="w-full text-lg" [disabled]="authForm.invalid || submitted">
        {{ isLoginMode ? "Войти" : "Зарегистрироваться" }}
      </button>
    </form>

    <div class="mt-8 flex justify-end gap-2 text-right">
      <div class="mt-2">{{ isLoginMode ? "Нет аккаунта?" : "Уже есть аккаунт?" }}</div>
      <button mat-raised-button (click)="toggleMode()">{{ isLoginMode ? "Зарегистрироваться" : "Войти" }}</button>
    </div>
  } @else {
    <button mat-raised-button color="primary" class="w-full text-lg" (click)="auth.logout()">Выйти</button>
  }
</div>
